@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --navy:#0a192f;
    --fadded-navy:#0d275596;
    --green:#64ffda;
    --fadded-green:#8bfae023;
    --white:#ccd6f6;
    --gray-white:#8892b0;
    --navy-shadow:rgb(1, 9, 20);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* transition: 0.5s; */
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
}
/* ........................NAVBAR............................. */

nav{
    width: 100%;
    height: 10%;
    background: var(--navy);
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav>.logo{
    width: 5%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav>.logo>img{
    width: 80%;
    height: auto;
}
nav>ul{
    /* border: 1px solid black; */
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
nav>ul>li{
    display: flex;
    /* border: 1px solid white; */
    padding: 0 2%;
}
nav>ul>li>a{
    /* border: 1px solid black; */
    color: var(--white);
    cursor: pointer;
    margin-left: 2%;
    text-decoration: none;
}
nav>ul>li>a:hover{
    color: var(--green);
}
nav>ul>li>span{
    color: var(--green);
}
nav>ul>li:last-child{
    height: 90%;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--green);
    border-radius: 3px;
    color: var(--green);
    
}
nav>ul>li:last-child:hover{
    background-color: var(--fadded-green);
}
/* ......................CONTAINER............................ */
.container{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ....................LEFT-SECTION...................... */
.left-section{
    width: 10%;
    height: 100%;
    background: var(--navy);
    color: var(--gray-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid black; */
}
.left-section>ul{
    width: 80%;
    height: 40%;
    margin: 0 auto;
    /* margin-top: 15%; */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}
.left-section>ul>li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    /* border: 1px solid black; */
}
.left-section>ul>li>a{
    text-decoration: none;
    color: var(--white);
}
.left-section>ul>li>a>i{
    font-size: 1.5rem;
}
.left-section>ul>li>a>i:hover{
    transition: 0.2s;
    font-size: 2rem;
    color: var(--green);
}
.left-section>.line{
    height: 30%;
    width: 1%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: var(--gray-white);
    /* border: 1px solid black; */
}

/* ....................MID-SECTION...................... */
.mid-section{
    width: 80%;
    height: 100%;
    /* border: 1px solid black; */
    overflow-y: scroll;
    background: var(--navy);
}
.mid-section::-webkit-scrollbar{
    display: none;
}

/* .......................INTRO SECTION............... */
.mid-section>.intro{
    width: 100%;
    height: 100%;
    padding-top: 6%;
    padding-left: 10%;
    justify-content: space-evenly;
}
.intro>h5{
    font-size: 1.3rem;
    word-spacing: 5px;
    color: var(--green);
}
.intro>h1{
    font-size: 5rem;
    color: var(--white);
}
.intro>h2{
    font-size: 5rem;
    color: var(--gray-white);
}
.intro>p{
    width: 60%;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 3%;
    color: var(--gray-white);
    line-height: 1.7;
}
.intro>a>button{
    text-decoration: none;
    width: 20%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 3%;
    border: 2px solid var(--green);
    border-radius: 5px;
    background:none;
    color: var(--green);
    cursor: pointer;
}
.intro>a>button:hover{
    background-color: var(--fadded-green);
}

/* .intro>button>a{
    width: 100%;
    height: 100%;

    width: inherit;
    text-decoration: none;
    color: var(--green);
    border: 1px solid white;
} */ 

/* .........................ABOUT-ME SECTION..................... */

.mid-section>.about-me{
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    /* background-color: rgba(255, 255, 0, 0.438); */
}
.about-me>.heading{
    width: 90%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: var(--white);
    /* border: 1px solid black; */
}
.about-me>.heading>span{
    color: rgb(82, 82, 197);
    margin-right: 1%;
    font-weight: 500;
    color: var(--green);
}
.about-me>.heading>.line{
    width: 50%;
    height: 2%;
    margin-left: 3%;
    border-radius: 10px;
    background-color: var(--white);
    /* border: 1px solid black; */
}
.about-me>.content{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* border: 1px solid black; */
}
.about-me>.content>p{
    width: 50%;
    font-size: 1.2rem;
    color:var(--gray-white);
    /* border: 1px solid black; */
}
.about-me>.content>img{
    width: auto;
    height: 50%;
    /* border: 1px solid black; */
}

/* ......................SILLS SECTION................... */

.mid-section>.skills{
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.404); */
}
.skills>.heading{
    width: 90%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: var(--white);
    /* border: 1px solid black; */
}
.skills>.heading>span{
    color: rgb(82, 82, 197);
    margin-right: 1%;
    font-weight: 500;
    color: var(--green);
}
.skills>.heading>.line{
    width: 35%;
    height: 2%;
    margin-left: 3%;
    border-radius: 10px;
    background: var(--white);
    /* border: 1px solid black; */
}
.skills>.content{
    width: 90%;
    height: 90%;
    /* border: 1px solid black; */
    margin: 0 5%;
    /* display: inline-flex;
    overflow: hidden; */
    /* background: rgba(238, 130, 238, 0.384); */
    /* padding: 2% 5%; */
}
.skills>.content>.card{
    width: 10%;
    height: 20%;
    display: block;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin-right: 1%; */
    margin: 0.5% 0.5%;
    border-radius: 5px;
    background-color:#09101aa1 ;
    /* color: var(--white); */
    color: var(--green);
    border: 1px solid var(--green);
}
.skills>.content>.card>.card-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
.skills>.content>.card>.card-logo>i{
    font-size: 2.5rem;
}
.skills>.content>.card>.card-logo>img{
    width: 70%;
    height: auto;
    /* border: 1px solid black; */
}
.skills>.content>.card>p{
    text-align: center;
}

/* ...........................WORK-EXPERIENCE-SECTION.......... */

.mid-section>.workexp{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 255, 0.418); */
}
.workexp>.heading{
    width: 90%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: var(--white);
    /* border: 1px solid black; */
}
.workexp>.heading>span{
    /* color: rgb(82, 82, 197); */
    margin-right: 1%;
    font-weight: 500;
    color: var(--green);
}
.workexp>.heading>.line{
    width: 35%;
    height: 2%;
    margin-left: 3%;
    border-radius: 10px;
    background-color: var(--white);
    /* border: 1px solid black; */
}
.workexp>.content{
    width: 75%;
    height: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.workexp>.content>ul{
    height: 60%;
    width: 30%;
    list-style: none;
    /* border: 1px solid black; */
}
.workexp>.content>ul>li{
    display: flex;
    align-items: center;
    padding: 5% 10%;
    cursor: pointer;
    font-weight: 600;
    color: var(--gray-white);
    border-left: 2px solid var(--gray-white);
    /* border: 1px solid black; */
}
.workexp>.content>ul>li:hover{
    background:var(--fadded-navy);
    color: var(--green);
    border-left:2px solid var(--green);
}

.workexp>.content>.detail{
    width: 65%;
    height: 100%;
    display: none;
    /* border: 1px solid white; */
}
.workexp>.content>.active{
    display: block;
}

.workexp>.content>.detail>.name{
    /* border: 1px solid black; */
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
}
.workexp>.content>.detail>.name>span{
    color: var(--green);
}
.workexp>.content>.detail>.duration{
    /* border: 1px solid black; */
    margin-top: 1%;
    font-weight: 600;
    color: var(--gray-white);
}
.workexp>.content>.detail>ul{
    list-style: none;
    margin-top: 4%;
    /* border: 1px solid black; */
}
.workexp>.content>.detail>ul>li{
    margin: 2% 0;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: var(--gray-white);
    line-height: 1.3;
    background-color: #08101b93;
    /* border: 1px solid black; */
}

.workexp>.content>.detail>ul>li:last-child{
    margin-top: 5%;
    background-color: inherit !important;
}

.workexp>.content>.detail>ul>li>a{
    text-decoration: none;
    height: 100%;    
    padding: 2% 4%;
    margin-right: 5%;
    border: 1px solid var(--green);
    border-radius: 3px;
    color: var(--green);
}
.workexp>.content>.detail>ul>li>a:hover{
    background-color: var(--fadded-green);
}
/* ...........................PROJECT-DETAIL SECTION A............... */

.mid-section>.heading{
    width: 90%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5%;
    color: var(--white);
    /* border: 1px solid black; */
}
.mid-section>.heading>span{
    /* color: rgb(82, 82, 197); */
    margin-right: 1%;
    font-weight: 500;
    color: var(--green);
}
.mid-section>.heading>.line{
    width: 35%;
    height: 2%;
    margin-left: 3%;
    border-radius: 10px;
    background-color: var(--white);
    /* border: 1px solid black; */
}
.mid-section>.project-a{
    /* border: 1px solid black; */
    width: 90%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5%;
}
.project-a>img{
    width: 55%;
    height: 100%;
    /* height: auto; */
    /* border: 1px solid black; */
}
.project-a>.details{
    width: 50%;
    height: 90%;
    /* border: 1px solid black; */
    position: absolute;
    right: 0;
    top: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* z-index: 5; */
}
.project-a>.details>span{
    /* border: 1px solid black; */
    color: var(--green);
    letter-spacing: 1.3px;
}
.project-a>.details>.name{
    /* border: 1px solid black; */
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2%;
    color:var(--white);
    letter-spacing: 1.2px;
}
.project-a>.details>.pabout{
    width: 100%;
    text-align: end;
    padding: 5% 5%;
    margin: 3% 0;
    color: var(--gray-white);
    background: var(--navy-shadow);
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    line-height: 1.7;
    /* border: 1px solid black; */
}
.project-a>.details>ul{
    /* border: 1px solid black; */
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: end;
    height: auto;
    margin-bottom: 3%;
}
.project-a>.details>ul>li{
    /* border: 1px solid white; */
    padding: 1% 1%;
    margin-left: 3%;
    color: var(--white);
}
.project-a>.details>ul>li>a>i{
    font-size: 1.2rem;
    color: var(--gray-white);
    cursor: pointer;
}

/* ...............................PROJECT-DETAIL SECTION B.................. */

.mid-section>.project-b{
    /* border: 1px solid black; */
    width: 90%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5%;
}
.project-b>img{
    width: 55%;
    height: 100%;
    /* height: auto; */
    position: absolute;
    right: 0;
    top: 0;
    /* border: 1px solid white; */
}
.project-b>.details{
    width: 50%;
    height: 90%;
    /* border: 1px solid black; */
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.project-b>.details>span{
    /* border: 1px solid black; */
    color: var(--green);
    letter-spacing: 1.3px;
}
.project-b>.details>.name{
    /* border: 1px solid black; */
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2%;
    color:var(--white);
    letter-spacing: 1.2px;
}
.project-b>.details>.pabout{
    width: 100%;
    text-align: start;
    padding: 5% 5%;
    margin: 3% 0;
    color: var(--gray-white);
    background: var(--navy-shadow);
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    line-height: 1.7;
    /* border: 1px solid black; */
}
.project-b>.details>ul{
    /* border: 1px solid black; */
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: start;
    height: auto;
    margin-bottom: 3%;
}
.project-b>.details>ul>li{
    /* border: 1px solid black; */
    padding: 1% 3%;
    margin-right: 2%;
    color: var(--white);
}
.project-b>.details>ul>li>a>i{
    font-size: 1.2rem;
    color: var(--gray-white);
    cursor: pointer;
}

/* ................................CONTACT US SECTION....................... */

.mid-section>.contact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
.contact>h5{
    font-size: 1.1rem;
    margin-bottom: 1%;
    color: var(--green);
    letter-spacing: 2px;
    /* border: 1px solid black; */
}
.contact>h1{
    font-size: 3.5rem;
    margin-bottom: 2%;
    color: var(--white);
    /* border: 1px solid black; */
}
.contact>p{
    font-size: 1.1rem;
    text-align: center;
    width: 50%;
    color: var(--gray-white);
    line-height: 1.7;
    /* border: 1px solid black; */
}
.contact>a{
    text-decoration: none;
    width: 15%;
    height: 10%;
    font-size: 1.3rem;
    margin-top: 4%;
    border: 2px solid var(--green);
    color: var(--green);
    background: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact>a:hover{
    background-color: var(--fadded-green);
}

/* ...................................FOOTER..................... */

.mid-section>footer{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    color: var(--gray-white);
}

/* ....................RIGHT-SECTION...................... */
.right-section{
    width: 10%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content:flex-end;
    writing-mode: vertical-lr;
    /* border: 1px solid black; */
    background: var(--navy);
    color: var(--white);
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.right-section>.line{
    /* border: 1px solid black; */
    width: 1%;
    height: 30%;
    margin-top: 2%;
    background: var(--white);
}
